<!--
	/* 	Author: Angel Magaña -- cheleguanaco@cheleguanaco.com
	*  	File: ./custom/clients/base/views/dashlet-calendar/dashlet-calendar.hbs
	*	
	*	Version: 1.0	
	*
	*   Handlebars template for graphical calendar dashlet  
	*/  
-->

<div style='width: 400px; margin-top: 5px; margin-bottom: auto; margin-right: auto; margin-left: auto;'>
		<div id='calendar'></div>
</div>